/* @media (max-width: 1750px) {
  .swiper-event {
    width: 100%;
    max-width: 1525px;
    height: 700px;
    overflow: hidden;
    position: relative;
  }
} */

@media (max-width: 1600px) {

  .swiper-pagination-event {
    display: block;
  }

  .swiper-button-next {
    top: 40%;
  }

  .header__container {
    padding: 30px 75px;
  }

  .container {
    padding: 0 75px;
  }

  .header__list {
    margin-right: var(--mr-extra-large);
  }

  .header__bottom-container {
    padding: 20px 75px;
  }

  .menu__item {
    margin-right: var(--mr-normal);
  }

  .footer__container {
    padding: 30px 75px;
  }
}

@media (max-width: 1300px) {

  .header__list {
    margin-right: var(--mr-large);
  }

  .header__list-item:not(:last-child) {
    margin-right: var(--mr-small);
  }

  .menu__item {
    margin-right: var(--mr-small);
  }

  .menu__btn {
    font-size: 15px;
  }

  .event__card {
    padding: 30px;
  }

  .event__img-txt {
    margin-bottom: var(--mb-xs-small);
    font-weight: 400;
    text-align: end;
  }

  .event__card-txt {
    margin-bottom: 0;
    flex-basis: 100%;
  }
}

@media (max-width: 1100px) {

  .header__container {
    padding: 30px 40px;
  }

  .container {
    padding: 0 40px;
  }

  .burger {
    display: block;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__nav {
    position: absolute;
    top: 0;
    left: -1200px;
    opacity: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 105px 75px 75px 75px;
    transition: left .3s ease-in-out, opacity .3s ease-in-out;
  }

  .header__nav.open {
    left: 0;
    opacity: 100%;
  }

  .header__list {
    flex-direction: column;
    margin: 0;
    margin-bottom: var(--mb-large);
  }

  .header__list-item {
    margin: 0;
    margin-bottom: var(--mb-small);
  }

  .header__list-item:not(:last-child) {
    margin-right: 0;
  }

  .header__list-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }

  .header__area-txt {
    font-weight: 600;
  }

  .header__area {
    justify-content: center;
    width: 257px;
    padding: 15px 35px;
    border: 1px solid var(--purple);
    border-radius: 100px;
  }

  .header__top-search {
    display: flex;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    background-color: var(--black);
  }

  .header__bottom {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    visibility: visible;
  }

  .footer__container {
    padding: 30px 40px;
  }
}

@media (max-width: 990px) {

  .event__card {
    padding: 15px;
  }
}

@media (max-width: 772px) {

  .header__container {
    padding: 30px 15px;
  }

  .header__search-form.open {
    width: 100%;
    height: 100%;
    padding: 0 35px;
    z-index: 10;
  }

  .header__input {
    width: 100%;
  }

  .header__input-send {
    margin-right: 10px;
  }

  .hero-content {
    padding: 70px 0;
  }

  .hero__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 65px;
    margin-bottom: 0.1em;
  }

  .hero__txt {
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
  }

  .hero__btn {
    width: 100%;
    font-weight: 400;
    padding: 15px;
  }

  .event__card-title {
    font-weight: 500;
  }

  .footer__container {
    padding: 30px 15px;
  }
}


@media (max-width: 370px) {

  .header__container {
    padding: 15px;
  }

  .header__logo {
    width: 96px;
    height: 22px;
  }

  .header__list {
    margin-bottom: var(--mb-extra-large);
  }

  .header__list-link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__area {
    width: 115px;
  }

  .header__area-txt {
    font-size: 16px;
    line-height: 16px;
  }

  .hero-content {
    padding: 50px 0;
  }

  .hero__title {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 0.1em;
  }

  .hero__txt {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }

  .hero__btn {
    width: 100%;
    height: 50px;
    font-size: 12px;
    line-height: 17px;
  }

  .catalogue__txt {
    display: none;
  }

  .event__card {
    padding: 20px;
  }

  .footer__container {
    padding: 15px;
    flex-direction: column-reverse;
  }

  .footer__logo {
    margin: 0;
    width: 96px;
    height: 22px;
  }

  .footer__social-icon {
    margin-bottom: var(--mb-small);
  }

}