html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
}

img {
  width: 100%;
  ;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: inherit;
  cursor: pointer;
  background-color: transparent;
}

input::placeholder {
  color: var(--white);
}


/* fonts */

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans Light'), local('OpenSans-Light'), local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.ttf') format('ttf'),
    url('../fonts/OpenSans-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans Regular'), local('OpenSans-Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.ttf') format('ttf'),
    url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans Medium'), local('OpenSans-Medium'), local('OpenSans-Medium'),
    url('../fonts/OpenSans-Medium.ttf') format('ttf'),
    url('../fonts/OpenSans-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.ttf') format('ttf'),
    url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans Bold'), local('OpenSans-Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.ttf') format('ttf'),
    url('../fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans ExtraBold'), local('OpenSans-ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/OpenSans-ExtraBold.ttf') format('ttf'),
    url('../fonts/OpenSans-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* variable */

:root {
  --grey: #333333;
  --grey-light: #CACACA;
  --grey-lighter: #ECECEC;
  --grey-normal: #999999;
  --grey-dark: #666666;
  --black: #000000;
  --white: #FFFFFF;
  --purple: #9D5CD0;
  --light-purple: #C283F3;
  --light-purple-2: #D1A9F0;
  --medium-purple: #9D5CD0;
  --dark-purple: #7943A4;
}

:root {
  --mb-xxs-small: 5px;
  --mr-xs-small: 15px;
  --mb-xs-small: 20px;
  --mb-s-small: 30px;
  --mr-small: 35px;
  --mb-small: 35px;
  --mb-normal: 50px;
  --mr-normal: 50px;
  --mr-large: 85px;
  --mb-large: 100px;
  --mb-extra-large: 200px;
  --mr-extra-large: 200px;
  --mr-header: 400px;
}

/* basic styles */

.section {
  margin: 0 auto;
  margin-bottom: var(--mb-normal);
}

.container {
  padding: 0 100px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle {
  margin-bottom: var(--mb-xs-small);
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
}


/* header */

.header {
  position: relative;
}

.header__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header__top {
  background-color: var(--black);
}

/* Форма поиска */

.header__top-search {
  display: none;
  background-color: transparent;
}

.header__search-form {
  position: absolute;
  right: 5px;
  transform: scale(0);
  padding-left: 10px;
  opacity: 0;
  background-color: var(--black);
  padding: 5px 0;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.header__search-form.open {
  display: flex;
  align-items: center;
  transform: scale(1);
  opacity: 100%;
}

.search-input {
  margin-right: 10px;
  padding: 0 15px;
  transition: border-color .3s ease-in-out;
  cursor: pointer;
}

.search-input:focus {
  border-bottom: 1px solid var(--light-purple);
  cursor: url(../img/cursor.png), pointer;
}

.search-input:active {
  border-bottom: 1px solid var(--light-purple);
}


/* burger */
.burger {
  display: none;
  position: relative;
  width: 36px;
  height: 28px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  z-index: 2;
}

.burger__line {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  transition: transform .3s ease-out, opacity .3s ease-out;
}

.burger__line:nth-child(1) {
  width: 36px;
  height: 3.65px;
}

.burger__line:nth-child(2) {
  width: 28px;
  height: 3.65px;
  transform: translateY(12px);
}

.burger__line:nth-child(3) {
  width: 24px;
  height: 3.65px;
  transform: translateY(24px);
}

.header.open .burger__line:nth-child(1) {
  width: 38px;
  height: 4px;
  transform: translateY(0) rotate(-45deg);
  top: 15px;
}

.header.open .burger__line:nth-child(2) {
  opacity: 0;
}

.header.open .burger__line:nth-child(3) {
  width: 38px;
  height: 4px;
  transform: translateY(0) rotate(45deg);
  top: 15px;
}

/* burger */

.header__logo {
  display: block;
  width: 173px;
  height: 40px;
  margin-right: var(--mr-small);
}

.header__list {
  margin-right: var(--mr-header);
}

.header__list-item:not(:last-child) {
  margin-right: var(--mr-normal);
}

.header__list-link:focus {
  color: var(--white);
  background-color: var(--dark-purple);
}

.header__list-link:hover {
  color: var(--light-purple);
  background-color: transparent;
}

.header__list-link:active {
  color: var(--dark-purple);
  background-color: transparent;
}

.header__list-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  padding: 5px;
  cursor: url(../img/cursor.png), pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__area {
  align-items: center;
  background-color: transparent;
  cursor: url(../img/cursor.png), pointer;
  transition: background-color .3s ease-out, fill .3s ease-out;
}

.header__area .header__area-txt {
  transition: color .3s ease-out;
}

.header__area:focus svg path {
  fill: var(--white);
}

.header__area:hover svg path {
  fill: var(--light-purple);
}

.header__area:active svg path {
  fill: var(--medium-purple);
}

.header__area:focus {
  background-color: var(--dark-purple);
  color: var(--white);
}

.header__area:hover {
  background-color: transparent;
}

.header__area:active {
  background-color: transparent;
}

.header__area:focus .header__area-txt {
  color: var(--white);
}

.header__area:hover .header__area-txt {
  color: var(--light-purple);
}

.header__area:active .header__area-txt {
  color: var(--medium-purple);
}

.header__area-txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  padding-left: 5px;
}

.header__bottom {
  position: absolute;
  content: "";
  top: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.header__bottom-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 100px;
}

.header__bottom-nav {
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  position: relative;
  padding-right: 10px;
  margin-right: var(--mr-large);
}

.menu__btn {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 5px 15px 5px 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  color: var(--white);
  cursor: url(../img/cursor.png), pointer;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.menu__btn::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 5px;
  border: solid rgb(225, 225, 225);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform .2s ease-out;
}

.menu__btn:focus {
  color: var(--white);
  background-color: var(--dark-purple);
}

.menu__btn:hover {
  color: var(--purple);
  background-color: transparent;
}

.menu__btn:active {
  color: var(--dark-purple);
  background-color: transparent;
}

.menu__btn:focus::after {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu__btn:hover::after {
  border: solid var(--purple);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu__btn:active::after {
  border: solid var(--dark-purple);
  border-width: 0 2px 2px 0;
  top: 15px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown-menu {
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  left: 0;
  min-width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 35px 35px 35px;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: visibility .3s ease-out, opacity .2s ease-out, transform .3s ease-out;
  z-index: 1;
}

.dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #FFFFFF;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

.simplebar-scrollbar {
  height: 90%;
  background: #000000;
  border-radius: 8px;
}

.simplebar-scrollbar:before {
  background: #FFFFFF;
  opacity: 1;
}

.simplebar-track {
  right: 15px;
  height: 210px;
}

.simplebar-track.simplebar-vertical {
  top: auto;
  bottom: 30px;
  width: 2px;
  height: 83%;
  background: #FFFFFF;
}

.menu__item.menu-open .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu__item {
  position: relative;
  min-width: 220px;
  min-height: 40px;
  padding: 10px;
}

.dropdown-menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: background-color .3s ease-in-out;
}

.dropdown-menu__item:not(:last-child) {
  margin-bottom: var(--mb-s-small);
}

.dropdown-menu__item:focus {
  border: 1px solid var(--medium-purple);
}

.dropdown-menu__item:hover {
  border: 1px solid var(--medium-purple);
}

.dropdown-menu__item:active::after {
  border: none;
  background-color: rgba(194, 131, 243, 0.4);
}

.dropdown-menu__link {
  display: block;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: url(../img/cursor-2.png), pointer;
}

.header__search {
  background-color: transparent;
}

.header__input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  cursor: url(../img/cursor.png), pointer;
  transition: border-color .3s ease-in-out;
}

.header__input:focus {
  border-bottom: 1px solid var(--dark-purple);
}

.header__input:hover {
  border-bottom: 1px solid var(--light-purple);
}

.header__input:active {
  border-bottom: 1px solid var(--light-purple);
}

/* dropdowm menu */

.realism-pic1 {
  background-image: url(../img/dropdown-menu/realism1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.realism-pic2 {
  background-image: url(../img/dropdown-menu/realism2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.realism-pic3 {
  background-image: url(../img/dropdown-menu/realism3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.realism-pic4 {
  background-image: url(../img/dropdown-menu/realism4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.impressionism-pic1 {
  background-image: url(../img/dropdown-menu/impressionism1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.impressionism-pic2 {
  background-image: url(../img/dropdown-menu/impressionism2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.impressionism-pic3 {
  background-image: url(../img/dropdown-menu/impressionism3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.impressionism-pic4 {
  background-image: url(../img/dropdown-menu/impressionism4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.postimpressionism-pic1 {
  background-image: url(../img/dropdown-menu/postimpressionism1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.postimpressionism-pic2 {
  background-image: url(../img/dropdown-menu/postimpressionism2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.postimpressionism-pic3 {
  background-image: url(../img/dropdown-menu/postimpressionism3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.postimpressionism-pic4 {
  background-image: url(../img/dropdown-menu/postimpressionism4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avantgarde-pic1 {
  background-image: url(../img/dropdown-menu/avantgarde1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avantgarde-pic2 {
  background-image: url(../img/dropdown-menu/avantgarde2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avantgarde-pic3 {
  background-image: url(../img/dropdown-menu/avantgarde3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avantgarde-pic4 {
  background-image: url(../img/dropdown-menu/avantgarde4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.futurism-pic1 {
  background-image: url(../img/dropdown-menu/futurism1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.futurism-pic2 {
  background-image: url(../img/dropdown-menu/futurism2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.futurism-pic3 {
  background-image: url(../img/dropdown-menu/futurism3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.futurism-pic4 {
  background-image: url(../img/dropdown-menu/futurism4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-img1 {
  background-image: url(../img/hero1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-img2 {
  background-image: url(../img/hero2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-img3 {
  background-image: url(../img/hero3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-pagination-hero {
  opacity: 0;
}

/* section hero */

.hero {
  pointer-events: none;
}

.hero .hero__btn {
  pointer-events: auto;
}

.hero-background {
  position: relative;
  background-image: url(../img/hero1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  padding: 130px 0;
  z-index: 2;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--white);
}

.hero__txt {
  margin-bottom: var(--mb-large);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
}

.hero__btn {
  position: relative;
  width: 314px;
  height: 70px;
  padding: 17px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background-color: var(--medium-purple);
  color: var(--white);
  transition: background-color .3s ease-out;
}

.hero__btn:hover {
  cursor: url(../img/cursor-2.png), pointer;
}

.hero__btn:active {
  background-color: var(--dark-purple);
  cursor: url(../img/cursor-2.png), pointer;
}

.hero__btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100px;
  transform: scaleX(0.9);
  transition: transform .3s ease-out;
}

.hero__btn:focus::after {
  outline: 1px solid var(--light-purple-2);
  outline-offset: 3px;
  transform: scaleX(1);
}

.hero__btn:hover::after {
  outline: none;
  border: 3px solid var(--light-purple-2);
  transform: scaleX(1);
}

.hero__btn:active::after {
  outline: none;
  border: 1px solid var(--light-purple-2);
  transform: scaleX(1);
}


/* section about us */

.about__title {
  color: var(--grey);
}

/* section events */

.swiper-event {
  width: 100%;
  height: 100%;
}

.event__card-wrap {
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.event__pic {
  display: block;
  height: 30%;
  object-fit: cover;
  flex-shrink: 0;
}

.event__card {
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 100%;
  padding: 15px 45px 45px 45px;
  border: 1px solid var(--grey-light);
  border-top: transparent;
}

.event__img-txt {
  margin-bottom: var(--mb-xxs-small);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-normal);
}

.event__card-title {
  margin-bottom: var(--mb-xxs-small);
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--grey);
}

.event__card-txt {
  margin-bottom: var(--mb-normal);
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
}

.event__card-btn {
  border: none;
  padding: 5px;
  font-size: 16px;
  line-height: 32px;
  color: var(--medium-purple);
  cursor: url(../img/cursor-2.png), pointer;
}

.event__card-btn:focus {
  color: var(--white);
  background-color: var(--medium-purple);
}

.event__card-btn:hover {
  color: var(--dark-purple);
  background-color: transparent;
  border-bottom: 1px solid var(--dark-purple);
}

.event__card-btn:active {
  color: var(--grey);
  background-color: transparent;
  border-bottom: 1px solid var(--grey);
}

.swiper-pagination-event {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  visibility: hidden;
  text-align: center;
}


.swiper-event-errow-container {
  position: relative;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  padding: 5px;
  background-color: var(--grey-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--grey-dark);
}

.swiper-button-next {
  left: 99%;
  margin: 0;
  top: 52%;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: var(--black);
  background-color: var(--grey-lighter);
  padding: 15px 23px;
  border-radius: 50px;
  font-size: 30px;
}


/* section projects */

.project__tooltip {
  padding: 0 5px;
  position: relative;
  top: 3px;
  cursor: url(../img/cursor-2.png), pointer;
}

.project__tooltip:focus svg path {
  fill: var(--light-purple-2);
  stroke: var(--black);
}

.project__tooltip:hover svg path {
  fill: var(--light-purple-2);
  stroke: var(--black);
}

.project__tooltip:active svg path {
  fill: var(--purple);
  stroke: var(--white);
}

.project__txt-link {
  color: var(--purple);
  padding: 0 3px;
  cursor: url(../img/cursor-2.png), pointer;
}

.project__txt-link:focus {
  color: var(--white);
  background-color: var(--medium-purple);
}

.project__txt-link:hover {
  color: var(--medium-purple);
  background-color: transparent;
  border-bottom: 1px solid var(--medium-purple);
}

.project__txt-link:active {
  color: var(--dark-purple);
  background-color: transparent;
  border-bottom: 1px solid var(--dark-purple);
}

/* footer */

.footer {
  background-color: var(--black);
}

.footer__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: block;
  width: 173px;
  height: 40px;
  margin-right: var(--mr-small);
}

.footer__social-icon {
  min-width: 110px;
  justify-content: space-between;
}

.footer__social-icon-link svg path {
  transition: fill .3s ease-in-out;
}

.footer__social-icon-link:hover {
  cursor: url(../img/cursor.png), pointer;
}

.footer__social-icon-link:active {
  cursor: url(../img/cursor.png), pointer;
}

.footer__social-icon-link:focus svg path {
  fill: var(--white);
}

.footer__social-icon-link:hover svg path {
  fill: var(--white);
  cursor: url(../img/cursor.png), pointer;
}

.footer__social-icon-link:active svg path {
  fill: var(--medium-purple);
  cursor: url(../img/cursor.png), pointer;
}